# temp files
*~
*.tmp        # General temp files
*.temp       # Another temp extension

# Trash
.Trash-*

# Fuse hidden files
.fuse_hidden*

# GNOME/KDE directory caches
.directory
.config/
.cache/
.local/share/Trash/

# Vim swap files
*.swp
*.swo

# Logs, core dumps
*.log
core
core.*

# systemd journal files
*.journal
*.journal~
# logs 
*.log
logs/

# Allow reports folder
reports/*
!reports/
!reports/latest_report.txt

# ignore compiled files
*.out
*.o
*.so

# ingnore system files
.DS_Store
Thumbs.db

# ingnore backup files
*.bak
*.old
*~

# ingnore IDE/Editor Files
.vscode/
.idea/

# ignore python cache files
__pycache__/
*.pyc

# ignore node.js modules (if used later)
node_modules/

# logs & reports
*.txt
logs/
