name: Daily System Report

permissions:
  contents: write

on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Make daily report script executable
        run: chmod +x script/daily_report.sh

      - name: Run report script
        run: bash script/daily_report.sh

      - name: Commit report
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add reports/
          git commit -m "Daily report generated on $(date)" || echo "No changes to commit"

      - name: Push changes
        run: git push origin main

      - name: Send Slack Notification
        if: always()
        run: |
          if [ "${{ job.status }}" = "success" ]; then
            STATUS="Success ✅"
          else
            STATUS="Failed ❌"
          fi

          curl -X POST -H 'Content-type: application/json' \
          --data "{
            \"text\": \"*DevOps Automation Report*\nStatus: $STATUS\nRepository: ${{ github.repository }}\nWorkflow: ${{ github.workflow }}\nRun ID: ${{ github.run_id }}\nTriggered at: $(date)\"
          }" \
          ${{ secrets.SLACK_WEBHOOK_URL }}

      - name: Upload Report as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: system-report
          path: reports/*.txt

    concurrency:
      group: daily-report
      cancel-in-progress: true
