name: Daily System Report

permissions:
  contents: write
  issues: write

on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:

 Docker-job:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Build Docker Image
       run: |
          docker build -t dailt-report .

      - name: Run inside container
        run: |
          docker run --name report-run daily-report

      - name: Copy report from container
        run: |
          docker cp report-run:/app/reports ./reports

      - name: Upload Docker Report Artifact
        uses: actions/upload-artifact@v4
        with:
          name: docker-report
          path: reports/

jobs:
  build:
  
    strategy:
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04, ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
        
      # Make script executable
      - name: Make daily report script executable
        run: chmod +x script/daily_report.sh

      - name: Run report script
        run: bash script/daily_report.sh

      - name: Commit report
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add reports/
          git commit -m "Daily report ($(date)) - ${{ matrix.os }}" || echo "No changes"

      - name: Create GitHub Issue if problem found
        run: |
          if grep -qi "error" reports/latest_report.txt; then
            echo "⚠ Error found — creating a GitHub issue..."
            GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} script/create_issue.sh
          else
            echo "No errors found - skipping issue creation."
          fi

      - name: Push changes
        run: git push origin main

      - name: Upload Report
        run: actions/upload-artifact@v4
        with:
          name: system-report-${{ matrix.os }}
          path: reports/*.txt
      
      - name: List repo files
        run: ls -R

      - name: Send Slack Notification
        if: always()
        run: |
          if [ "${{ job.status }}" = "success" ]; then
            STATUS="Success ✅"
          else
            STATUS="Failed ❌"
          fi

          curl -X POST -H 'Content-type: application/json' \
          --data "{
            \"text\": \"*DevOps Automation Report*\nStatus: $STATUS\nRepository: ${{ github.repository }}\nWorkflow: ${{ github.workflow }}\nRun ID: ${{ github.run_id }}\nTriggered at: $(date)\"
          }" \
          ${{ secrets.SLACK_WEBHOOK_URL }}

      - name: Upload Report as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: system-report
          path: reports/*.txt

    concurrency:
      group: daily-report
      cancel-in-progress: true
