name: Test Docker Login

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Test Docker Login
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Test Docker Build
        run: docker build -t test-report -f docker/Dockerfile .
        # If your Dockerfile is NOT in repo root, change dot (.) to the correct folder path